[flake8]
max-line-length = 99
extend-ignore = E203,E501,W503
select = E,W,F,C
exclude =
    .git,
    __pycache__,
    .tox,
    .eggs,
    *.egg,
    build,
    dist,
    .venv,
    venv,
    *.pyc,
    .pytest_cache,
    .mypy_cache
per-file-ignores =
    __init__.py:F401,F403
max-complexity = 10
