DBT_TEST_NZ_HOST=nz-c2007a95-00f1-46c7-a559-36f64862569c.us-east-1.data-warehouse.cloud.ibm.com
DBT_TEST_NZ_DB=DEEPAK
DBT_TEST_NZ_USER=admin
DBT_TEST_NZ_PASS=P5p4UopIp5o*)o5v
DBT_TEST_NZ_SCHEMA=DEEPAK
DBT_TEST_USER_1=admin
DBT_TEST_USER_2=admin
DBT_TEST_USER_3=admin